body {
  font-family: 'Roboto', sans-serif;
  color: $white-text-color;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.no-scroll {
  overflow: hidden;
}
