body {
  font-family: 'Roboto', sans-serif;
  color: $white-text-color;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.no-scroll {
  overflow: hidden;
}
